<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dev1" class="com.epam.test.cource.Developer">
        <property name="name" value="Hello World!"/>
    </bean>

    <bean id="dev" class="com.epam.test.cource.Developer">
        <constructor-arg value="Alex"/>
        <constructor-arg value="Java"/>
        <constructor-arg value="3"/>
        <constructor-arg value="true"/>
    </bean>

    <bean id="dev2" class="com.epam.test.cource.Developer">
        <constructor-arg value="Python"/>
        <constructor-arg value="Pavel"/>
        <constructor-arg value="1"/>
        <constructor-arg value="false"/>
    </bean>

    <bean id="dev3" class="com.epam.test.cource.Developer">
        <constructor-arg value="25"/>
    </bean>

    <bean id="dev4" class="com.epam.test.cource.Developer">
        <constructor-arg type="int" value="25"/>
    </bean>

    <bean id="project" class="com.epam.test.cource.Project">
        <property name="name" value="Hello World Project!"/>
        <property name="teamLead" ref="dev"/>
    </bean>

</beans>